name: Unit Test with JEST

on: [push]

jobs:
	run:
		runs-on: ${{ matrix.os }}
		strategy:
			matrix:
				node-version: [8.x, 10.x, 12.x, 14.x]
				os: [ubuntu-latest, macos-latest,windows-latest]

		steps:
			- name: Checkout code
				uses: actions/checkout@v2
			- name: Setup node
				uses: actions/setup-node@v1
				with:
					node-version: ${{ matrix.node-version }}
			- name: Cache Node.js modules
				uses: actions/cache@v2
				with:
					# npm cache files are stored in `~/.npm` on Linux/macOS
					path: ~/.yarn
					key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn-lock.json') }}
					restore-keys: |
						${{ runner.OS }}-node-
						${{ runner.OS }}-
			- name: Install dependencies
				run: yarn --frozen-lockfile
			- name: Generate coverage report
				run: yarn test
			- name: Upload coverage to Codecov
				uses: codecov/codecov-action@v1
				with:
					token: ${{ secrets.CODECOV_TOKEN }}
					directory: ./coverage
